img.rounded-full {
  display: none;
}

img.rounded-full::before {
  content: url("https://raw.githubusercontent.com/Cloud500/tests/refs/heads/main/Kitu.png");
}


main {
  background-color: #8B0000
}
